<div class="mb-3">
    <label for="length_of_stay" class="form-label">Cover Photo</label><label for="cover_photo" class="form-label" style="background: white;border: 1px solid #ddd;width: 100%;/* padding: 10px; */overflow: auto;height: 30px;cursor: pointer;display: flex;align-items: center;gap: 9px;"><span style="
width: 100%;
/* width: 90px; */
height: 100%;
background: #9f9494;
display: inline-block;
max-width: 100px;
"></span><span>Whatever Text</span>
        
    </label>
    <input class="form-control" type="file" id="cover_photo" name="cover_photo" value="/uploads/7c6cd08713b346c0bc70e608fb71162a.png" style="
display: none;
">

</div>