* {
    margin: 0px; 
    padding: 0px;
}

body {
    height: 100vh;
}

.page-top {
    background-image: url("/static/images/waterfall.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
    height: 70%;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.wg {
    font-family: Gaegu;
    font-size: 22px;
}

.navbar img {
    height: 100%;
    max-height: 40px;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px; 
    background-color: seagreen;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.container-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-input:focus {
    border-color: rgb(123, 199, 156);
    box-shadow: 0 0 10px rgb(14, 134, 66);
}

.container .btn {
    border: 1px solid white;
    background-color: white;
    color: forestgreen;
}

.bottom-link {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.all_trips {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}

.card {
    flex-basis: calc(33.33% - 20px);
    padding: 15px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

@media (max-width: 910px) {
    .card {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .header2 {
        font-size: 14px;
    }
}

.card img {
    border-radius: var(--bs-card-inner-border-radius);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-text {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.view-itinerary {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 30px;
}

.header img {
    height: 100%;
    max-height: 25px;
}

.header2 p {
    height: 100%;
    max-height: 10px;
}

.people_info {
    display: flex;
    justify-content: space-between;
    color: gray;
}

.people_info img {
    height: 100%;
    max-height: 15px;
}

.cover_photo {
    margin-bottom: 10px;
}

/* .interests {
    background-color: coral;
    color: white;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 3px;
} */

.card .btn {
    background-color: mediumseagreen;
    border: 1px solid mediumseagreen;
}

