* {
    margin: 0px; 
    padding: 0px;
}

body {
    padding: 20px;
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(187, 187, 187);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    z-index: 9999;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.navbar a {
    color: black;
    text-decoration: none;
}

.wg {
    font-family: Gaegu;
    font-size: 22px;
}

.navbar img {
    height: 100%;
    max-height: 40px;
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title img {
    height: 100%;
    max-height: 30px;
}

.created_by {
    display: flex;
    justify-content: space-between;
    color: gray;
}

.days {
    margin-top: 5%;
}

.days {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.one_day {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.location {
    text-decoration: underline;
}

.hidden {
    display: none;
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
}